<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>about</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>¿QUIENES SOMOS?</h1>

  <p>
    Somos una empresa que tiene como compromiso generar una contribución en la economía de los usuarios y apoyar a los comercios en su crecimiento. TUPROMO está construyendo un vasto mercado de promociones digitales, donde la gente descubre y ahorra en cosas increíbles para hacer, ver, comer y comprar. Al permitir la publicidad en tiempo real a través de empresas locales, servicios profesionales, destinos de viajes, productos de consumo y eventos en vivo. Los compradores pueden encontrar lo mejor que una ciudad tiene para ofrecer.
  </p>
  <p>
    TUPROMO tiene la misión de redefinir cómo las pequeñas empresas atraen y retienen a los clientes proporcionándoles promociones y servicios de marketing personalizables y escalables para hacer crecer sus negocios de manera rentable. Así como aportar con una herramienta sustentable a los comercios que ya tienen presencia en el mercado.
  </p>
  <p>
    Para descargar las mejores aplicaciones para móviles de TUPROMO, visite la tienda Android y descargue la app TUPROMO. Para buscar grandes ofertas o suscribirse a los correos electrónicos de TUPROMO, así como también información general visite www.tupromo.net
  </p>
</ion-content>
