<!--
  Generated template for the TerminosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>terminos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <h1>Terminos y condiciones</h1>
 <p>
   1. Su relación con TUPROMO <br>
   1.1 Su utilización del sitio web tupromo.net (el "Sitio Web") y de todos los productos, software y servicios,
   (conjuntamente denominados los "Servicios" en este documento) estarán sujetos a las condiciones de un
   acuerdo legal entre Ud. y TUPROMO. "TUPROMO" significa PROMOCIONES Y GENTE S.A. de C.V.​
 </p>

 <p>
   1.2 Los Términos y Condiciones constituyen un contrato legalmente vinculante para Ud. y para TUPROMO
   en relación con la utilización de los Servicios, por lo que es importante que los lea detenidamente toda vez
   que quedará obligado a ellos y podrán ser modificados de tiempo en tiempo por TUPROMO sin necesidad
   de notificación alguno y sin que ello signifique la falta de observancia de los mismos. <br>
   1.3 Los Términos y Condiciones son de aplicación a todos los usuarios del Sitio Web, incluyendo aquellos
   usuarios que aporten igualmente contenidos de información y otros materiales o servicios a TUPROMO.
 </p>

 <p>
   2. Aceptación de los Términos y Condiciones <br>
   2.1 Para poder utilizar los Servicios, deberá aceptar previamente los Términos y Condiciones. Ud. no podrá
   utilizar los Servicios si no acepta los Términos y Condiciones. El simple hecho de utilizar los Servicios
   implica necesariamente la aceptación de los Términos y Condiciones.​
 </p>

 <p>
   2.2 Por la simple utilización de los Servicios Ud. reconoce y acepta que TUPROMO considerará que su
   uso de los Servicios constituye la aceptación de los Términos y Condiciones a partir del inicio de dicha
   utilización y que se vinculará legalmente a los mismos sin excepción alguna.​
 </p>
 <p>
      2.3 Ud. no podrá utilizar los Servicios y ni podrá aceptar los Términos y Condiciones si (a) no está
   legalmente capacitado para celebrar un contrato vinculante con TUPROMO, o (b) tiene prohibida o
   legalmente excluida la recepción o utilización de los Servicios, en virtud de la legislación de su país de
   residencia o desde el que accede o utiliza los Servicios. TUPROMO no será responsable si usted hace
   uso de los Servicios por no cumplir con las condiciones antes mencionadas.​
 </p>

 <p>
   3. Idioma de los Términos y Condiciones <br>
   3.1 Cuando TUPROMO le proporcione una traducción a la versión en inglés de los Términos y
   Condiciones, dicha traducción se entenderá facilitada a efectos de conveniencia únicamente siendo las
   versiones de los Términos y Condiciones en idioma español las que regirán su relación con TUPROMO.<br>
   3.2 En caso de contradicción entre lo expresado en la versión en español de los Términos y Condiciones y
   lo expresado en cualquier traducción a otro idioma, prevalecerá lo dispuesto en la versión en idioma
   español.
 </p>
 <p>
   4. Cambios en los Términos y Condiciones <br>
   4.1 TUPROMO podrá realizar cambios en los Términos y Condiciones en cualquier momento y sin
   necesidad de notificación alguna. Cuando se introduzcan estos cambios, TUPROMO actualizará los
   Términos y Condiciones por lo que es responsabilidad de Ud. revisar los Términos y Condiciones cada vez
   que haga uso de los Servicios. <br>
   4.2 Ud. reconoce y acepta que si utiliza los Servicios después de la fecha de modificación de los Términos
   y Condiciones, TUPROMO considerará que su uso de los Servicios constituye la aceptación de los
   Términos y Condiciones actualizados. <br>
  </p>

 <p>
   5. Cuentas TUPROMO <br>
   5.1 Para poder acceder a determinadas funciones del Sitio Web u otros Servicios, tendrá que crear una
   cuenta en TUPROMO. Al crear su cuenta, deberá facilitar determinada información correcta y completa.
   Es importante que mantenga de forma segura y confidencial su contraseña de cuenta TUPROMO.
   <br>5.2 Ud. deberá notificar a TUPROMO inmediatamente cualquier incumplimiento de las normas de
   seguridad o cualquier uso no autorizado de su cuenta TUPROMO que pase a su conocimiento.
   <br>5.3 Ud. acepta ser el único responsable (frente a TUPROMO y a otros terceros) de toda la actividad que
   tenga lugar con su cuenta TUPROMO.
 </p>

 <p>
      6.1 TUPROMO le autoriza a acceder y utilizar el Sitio Web y los Servicios, con sujeción a las condiciones
   específicas que a continuación se indican, y Ud. acepta que su inobservancia de cualquiera de estas
   condiciones constituirá un incumplimiento de los presentes Términos y Condiciones por su parte:
   Ud. se obliga a no distribuir ninguna parte del Sitio Web, incluyendo a título enunciativo, que no limitativo,
   los Archivos de Usuarios (conforme este término se define a continuación), a través de ningún medio sin la
   previa autorización por escrito de TUPROMO;​<br>
   Ud. se obliga a no alterar o modificar ninguna parte del Sitio Web o de los Servicios (incluyendo a título
   enunciativo, que no limitativo y sus tecnologías relacionadas);​<br>
   Ud. se obliga a no acceder a los Archivos de Usuarios (conforme este término se define a continuación) o
   a otros contenidos ofrecidos a través del Sitio Web (incluyendo los Contenidos de TUPROMO, conforme
   este término se define a continuación) utilizando cualquier tecnología o medio distintos de las páginas del
   propio Sitio Web, o cualquier otro medio que TUPROMO designe explícitamente a tal efecto;​<br>
   Ud. se obliga a no eludir, desactivar o manipular de cualquier otra forma (o tratar de eludir, desactivar o
   manipular) las funciones de seguridad del Sitio Web u otras funciones que (i) impidan o restrinjan la
   utilización o copia de los Archivos de Usuarios o de los Contenidos de TUPROMO, o (ii) que aplican las
   limitaciones a la utilización del Sitio Web o de los contenidos que se ofrecen a través del Sitio Web;
   Ud. se obliga a no utilización el Sitio Web o los Servicios para ningún fin comercial, sin la previa
   autorización por escrito de TUPROMO. Entre los usos comerciales prohibidos se incluyen, sin limitación
   alguna:<br>
   la reventa del acceso al Sitio Web o a cualquiera de los Servicios a través de otro sitio web con el fin
   principal de obtener ingresos por publicidad o suscripciones; y
                   ii.    la redistribución de los Servicios con el fin principal de generar ingresos a partir de una
   actividad empresarial sustancialmente similar o comparable a la desarrollada por TUPROMO,excluyendo (i)
   la carga de un video original en TUPROMO, (ii) el mantenimiento de un canal original a través del Sitio
   Web para promocionar una actividad empresarial o artística, y (iii) cualquier uso que sea expresamente
   autorizado por TUPROMO por escrito; <br>
   Ud. se obliga a no utilizar o activar ningún sistema automatizado (incluyendo, sin limitación alguna,
   cualquier robot, araña ("spider") o lector offline que acceda al Sitio Web de modo que envíe más mensajes
   de solicitud a los servidores de TUPROMO en un intervalo de tiempo concreto de los que una persona
   física podría razonablemente producir en el mismo intervalo de tiempo utilizando un navegador web
   públicamente disponible y general (es decir, sin modificar);​
    <br>
   Ud. se obliga a no recabar datos personales de ningún usuario del Sitio Web o los Servicios (incluyendo
   los nombres de cuenta TUPROMO);​<br>
   Ud. se obliga a no utilizar el Sitio Web y los Servicios (incluyendo los comentarios y las funciones de
   e-mail del Sitio Web) para ofrecer servicios en relación con una actividad comercial; y​
   Ud. se obliga a no ofrecer servicios, con fines comerciales, a los usuarios del Sitio Web con respecto a
   sus Archivos de Usuario.
    <br>
   6.2 Ud. se obliga a cumplir con todas las demás disposiciones de los Términos y Condiciones y de las
   Directrices de la Comunidad TUPROMO en todo momento mientras utilice los Servicios.<br>
   6.3 TUPROMO autoriza a los operadores de motores de búsqueda públicos a utilizar arañas ("spiders")
   para copiar materiales del sitio con el único fin de crear índices de búsqueda de los materiales disponibles
   para el público en general, si bien dichos materiales no podrán ser almacenados en memoria caché u otros
   archivos. TUPROMO se reserva el derecho a revocar estas excepciones de forma general o en casos
   específicos.<br>
   6.4 TUPROMO innova de forma constante con el fin de ofrecer a sus usuarios la mejor experiencia
   posible. Ud. reconoce y acepta que la forma y naturaleza de los Servicios prestados por TUPROMO podrá
   variar en cualquier momento sin necesidad de preaviso. <br>
   6.5 Como parte de este proceso de innovación constante, Ud. reconoce y acepta que TUPROMO podrá
   interrumpir (de forma permanente o temporal) la prestación de los Servicios (o de cualquier función de
   éstos) a Ud. o a los usuarios en general, a elección exclusiva de TUPROMO, sin necesidad de preaviso.
   Ud. podrá dejar de utilizar los Servicios en cualquier momento y no vendrá obligado a informar de ello
   específicamente a TUPROMO. <br>
   6.6 Ud. reconoce ser el único responsable (sin que TUPROMO asuma responsabilidad alguna frente a Ud.
   o a cualquier tercero para) del incumplimiento de sus obligaciones previstas en los Términos y Condiciones
   y de las consecuencias (incluyendo cualesquiera pérdidas o daños en que TUPROMO pueda incurrir)
   derivadas de dicho incumplimiento.
 </p>
 <p>
      7. Política de derechos de autor
   7.1 TUPROMO aplica una política de derechos de autor clara en relación con los Archivos de Usuario que
   infrinjan presuntamente los derechos de autor de un tercero.​
    <br>
   7.2 Como parte de la política de derechos de autor de TUPROMO, TUPROMO cancelará el acceso al Sitio
   Web de cualquier usuario considerado como infractor reiterado. Un infractor reiterado es un usuario al que
   se le ha notificado la actividad infractora en más de una ocasión.
 </p>
 <p>
     8. Sus Archivos de Usuario<br>
   8.1 Como titular de una cuenta TUPROMO, podrá contenidos textuales (los "Comentarios de Usuario")
   (conjuntamente denominados los "Archivos de Usuario"). Ud. entiende que con independencia de que
   dichos Archivos de Usuario sean publicados, TUPROMO no garantiza ningún tipo de confidencialidad con
   respecto a tales Archivos de Usuario.​
    <br>
   8.2 Ud. seguirá siendo el titular de los derechos relativos a sus Archivos de Usuario, si bien deberá otorgar
   unos derechos de licencia limitados a favor de TUPROMO y otros usuarios del Sitio Web. Estos derechos
   se describen en el epígrafe 10 de los presentes Términos y Condiciones (Derechos que Ud. otorga bajo
   licencia).​
    <br>
   8.3 Ud. reconoce y acepta ser el único responsable de sus Archivos de Usuario y de las consecuencias de
   su publicación. TUPROMO no suscribe ningún Archivo de Usuario ni ninguna opinión, recomendación o
   consejo expresado en relación con el mismo, excluyendo expresamente toda responsabilidad relativa a los
   Archivos de Usuario.​
    <br>
   8.4 Ud. manifiesta y garantiza que es titular (y que lo seguirá siendo mientras utilice los Servicios) de
   todas licencias y todos los derechos, consentimientos y permisos que se necesitan para permitir a
   TUPROMO utilizar sus Archivos de Usuario a efectos de la prestación de los Servicios y para cualquier
   otro fin con arreglo a la forma contemplada en el Sitio Web y en los presentes Términos y Condiciones.
 </p>
 <p>
      9. Contenidos de sus Archivos de Usuario <br>
   9.1 Ud. se obliga a no publicar o cargar ningún Archivo de Usuario que contenga contenidos cuya posesión
   sea ilegal para Ud. en su país de residencia, o cuya utilización o posesión sea ilegal para TUPROMO en
   relación con la prestación de los Servicios.​
    <br>
   9.2 Ud. se obliga a no cargar o publicar ningún Archivo de Usuario que esté sujeto a derechos de propiedad
   intelectual de otros terceros (incluyendo derechos de exclusividad o publicidad)​
    <br>
   9.3 TUPROMO se reserva el derecho (si bien no estará obliga) a decidir si los Archivos de Usuario
   cumplen con los requisitos de contenido estipulados en los presentes Términos y Condiciones, y podrá
   eliminar dichos Archivos de Usuario y/o cancelar el acceso de cualquier Usuario para cargar cualquier
   Archivo de Usuario que infrinja los presentes Términos y Condiciones de Servicio en cualquier momento,
   sin necesidad de preaviso y a su elección exclusiva.​
    <br>
   9.4 Asimismo, Ud. reconoce y entiende que al utilizar el Sitio Web y los Servicios, podrá estar expuesto a
   Archivos de Usuarios objetivamente imprecisos, ofensivos, indecentes o cuestionables para Ud. En virtud
   del presente documento, Ud. renuncia a ejercitar cualquier derecho o acción legal o en equidad que pueda
   corresponderle contra TUPROMO con respecto a cualquier Archivo de Usuario.​
 </p>
 <p>
      10. Contenidos de TUPROMO en el Sitio Web<br>
   10.1 Todos los contenidos del Sitio Web incluyendo, sin limitación alguna, texto, software, guiones,
   gráficos, fotos, sonidos, música, videos y funciones interactivas del Sitio Web (los "Contenidos de
   TUPROMO") serán propiedad de TUPROMO, o le corresponderán en virtud de una licencia, y estarán
   sujetos a derechos de autor, derechos de marca y otros derechos de propiedad intelectual de TUPROMO o
   de los licenciantes de TUPROMO. Todas las marcas comerciales y de servicio de otros terceros presentes
   en los Contenidos de TUPROMO serán marcas comerciales y de servicio de sus respectivos propietarios.​
    <br>
   10.2 Los Contenidos de TUPROMO no podrán ser descargados, copiados, reproducidos, distribuidos,
   transmitidos, difundidos, mostrados, vendidos, otorgados bajo licencia o explotados para ningún otro fin sin
   el previo consentimiento por escrito de TUPROMO, o de los licenciantes de TUPROMO. TUPROMO se
   reserva todos los derechos que no hayan sido expresamente otorgados con respecto a los Contenidos de
   TUPROMO.​
 </p>
 <p>
      11. Vínculos en TUPROMO <br>
   11.1 Los Servicios podrán incluir hipervínculos a otros sitios web que no serán propiedad de TUPROMO ni
   estarán controlados por ésta. TUPROMO no controla los contenidos, las políticas de privacidad o las
   prácticas de los sitios web de otros terceros ni asume responsabilidad alguna por éstos.​
    <br>
   11.2 Ud. reconoce y acepta que TUPROMO no será responsable de la disponibilidad de los sitios web o
   recursos externos, y no suscribe ningún tipo de publicidad, productos u otros materiales ofrecidos a través
   dichos sitios web o recursos.​
    <br>
   11.3 Ud. reconoce y acepta que TUPROMO no será responsable de las pérdidas o daños en que Ud.
   pueda incurrir a consecuencia de la disponibilidad de los mencionados sitios web o recursos externos, o a
   consecuencia de la credibilidad que Ud. otorgue a la exhaustividad, precisión o existencia de cualquier tipo
   de publicidad, productos u otros materiales ofrecidos a través de dicho sitios web o recursos.​
    <br>
   11.4 TUPROMO se recomienda que preste atención cuando Ud. abandone el Sitio Web de TUPROMO y
   que lea los términos y condiciones y la política de privacidad de todos los demás sitios web que visite.
 </p>

     12. Finalización de su relación con TUPROMO <br>
   12.1 Los Términos y Condiciones seguirán siendo de aplicación hasta su resolución a instancias de Ud. o
   de TUPROMO conforme a las disposiciones siguientes.​
    <br>
   12.2 Si desea resolver su contrato legal con TUPROMO, podrá hacerlo (a) notificándolo a TUPROMO en
   cualquier momento y (b) cerrando su cuenta TUPROMO. Su notificación deberá ser enviada, por escrito, a
   la dirección de TUPROMO indicada al inicio de los presentes Términos y Condiciones.​
    <br>
   12.3 TUPROMO podrá resolver su contrato legal con Ud. en cualquier momento si:​
    <br>
   Ud. incumple cualquiera de las disposiciones incluidas en los Términos y Condiciones (o actúa de forma
   que claramente indique que pretende hacerlo o que no será capaz de cumplir con lo estipulado en los
   Términos y Condiciones);
   <ul>
      <li>TUPROMO viene obligada a ello por Ley (por ejemplo, cuando la prestación de los Servicios a Ud. sea, opase a ser, ilegal);</li>
      <li>TUPROMO deja de prestar los Servicios a los usuarios de su país de residencia o desde el que Ud. utilizalos Servicios;</li>
      <li>TUPROMO deja de prestar los Servicios a los usuarios de su país de residencia o desde el que Ud. utilizalos Servicios;</li>
      <li>la prestación de los Servicios a Ud. por parte de TUPROMO, deja de ser, en opinión de ésta,comercialmente viable.</li>
   </ul>


 12.4 A la resolución de los presentes Términos y Condiciones, todos los derechos y obligaciones legales
 que correspondan tanto a Ud. como a TUPROMO (o que se hayan devengado durante la vigencia de los
 Términos y Condiciones), o cuya vigencia deba continuar expresamente de forma indefinida, no se verán
 afectados por dicha resolución, y las disposiciones incluidas en el epígrafe 15.6 seguirán siendo de
 aplicación a dichos derechos y obligaciones con carácter indefinido.

 <p>
    13. Exclusión de Garantías <br>
 13.1 Nada de lo estipulado en los Términos y Condiciones afectará a los derechos legales que le asistirán
 en todo momento como consumidor y con respecto a los cuales no podrá pactar contractualmente ninguna
 modificación o renuncia.​
  <br>
 13.2 Los Servicios se prestan "tal cual " y TUPROMO no otorga ninguna garantía ni realiza ninguna
 manifestación frente a Ud. con respecto a los mismos.​
  <br>
 13.3 En particular, TUPROMO no le manifiesta ni garantiza que:​
  <br>
 - Su utilización de los Servicios cumplirá sus requisitos,​
 <br>- Su utilización de los Servicios será ininterrumpida, puntual, segura o libre de errores,​
 <br>- La información que obtenga como consecuencia de su utilización de los Servicios será correcta o fiable, y​
 <br> - Se corregirán los defectos del funcionamiento o de las funcionalidades de cualquier software que se le
 proporcione como parte de los Servicios.​
  <br>
 13.4 No serán de aplicación a los Servicios ninguna condición o garantía (incluyendo cualesquiera
 garantías implícitas de calidad satisfactoria y adecuación a un fin concreto o a una descripción) excepto en
 la medida de lo expresamente estipulado en los Términos y Condiciones.​
 </p>

   14. Limitación de Responsabilidad <br>
 14.1 Nada de lo estipulado en los presentes Términos y Condiciones excluirá o limitará la responsabilidad
 de TUPROMO por pérdidas que no pueda ser legalmente excluidas o limitadas en virtud de la legislación
 aplicable. <br>
 14.2 Con sujeción a la disposición general incluida en el epígrafe 14.1 anterior, TUPROMO no será
 responsable frente a Ud. por:​
  <br>
 Pérdidas indirectas o derivadas en que Ud. pueda incurrir, incluyéndose cualesquiera pérdidas de
 beneficios (con independencia de que se hayan originado de forma directa o indirecta), pérdidas de fondo
 de negocio o prestigio empresarial, o pérdidas de datos sufridas por Ud.;​<br>
 Pérdidas o daños en que Ud. pueda incurrir a consecuencia de:​
 <ul>
    <li> La credibilidad que Ud. otorgue a la exhaustividad, precisión o existencia de cualquier material
        publicitario, o a consecuencia de cualquier relación u operación entre Ud. y cualquier publicista o
          patrocinador cuya publicidad aparezca en los Servicios​</li>
    <li>Cualquier cambio que TUPROMO introduzca en relación con los Servicios, o cualquier cese permanente
        o temporal de la prestación de los Servicios (o de cualquiera de sus funciones);</li>
    <li>La eliminación, corrupción o fallo de almacenamiento de cualquier Archivo de Usuario u otros datos de
        comunicación mantenidos o transmitidos a través de su utilización de los Servicios;​</li>
    <li>Su falta de suministro a TUPROMO de información de cuenta precisa;​</li>
    <li>Su falta de mantenimiento de la seguridad y confidencialidad de su contraseña o información de cuenta
        TUPROMO​</li>
 </ul>

 14.3 Las limitaciones a la responsabilidad de TUPROMO frente a Ud. incluidas en el epígrafe 14.2 anterior
 serán de aplicación con independencia de que TUPROMO haya sido advertida o debiera haber sido
 advertida de la posibilidad del acaecimiento de dichas pérdidas.


   15. Disposiciones Generales <br>
 15.1 Los Términos y Condiciones constituyen el acuerdo legal completo entre Ud. y TUPROMO, rigen su
 utilización de los Servicios y sustituyen a todos los anteriores acuerdos entre Ud. y TUPROMO en relación
 con los Servicios.​
  <br>
 15.2 Ud. acepta que TUPROMO podrá enviarle notificaciones, incluyendo las relativas a los cambios de
 los Términos y Condiciones, mediante e-mail, correo ordinario o publicando dichas modificaciones en el
 Sitio Web de TUPROMO.​
  <br>
 15.3 Ud. acepta que en el supuesto de que TUPROMO no ejercite cualquier derecho o acción legal
 contemplado en los Términos y Condiciones (o que le corresponda en virtud de la legislación aplicable),
 ello no constituirá una renuncia formal a los derechos de TUPROMO, permaneciendo dichos derechos y
 acciones legales plenamente vigentes para TUPROMO.​
  <br>
 15.4 Si un tribunal con jurisdicción competente sobre este asunto determina que cualquiera de las
 disposiciones de los presentes Términos y Condiciones es inválida, dicha disposición será eliminada de
 los Términos y Condiciones sin que ello afecte al resto de los mismos permaneciendo las demás
 disposiciones plenamente vigentes en todos sus aspectos.​
  <br>
 15.5 Ud. reconoce y acepta que todos los miembros del grupo de sociedades del que TUPROMO forma
 parte serán terceros beneficiarios de los Términos y Condiciones y que dichas sociedades tendrán derecho
 a exigir, directamente, el cumplimiento de cualquier disposición de los Términos y Condiciones donde se
 contemple un beneficio para éstos (o algún derecho a su favor). Aparte de las mencionadas sociedades,
 ninguna otra persona o sociedad será un tercer beneficiario de los Términos y Condiciones.​
  <br>
 15.6 Los Términos y Condiciones y su relación con TUPROMO conforme a lo aquí previsto, se regirán por
 las leyes de los Estados Unidos Mexicanos. Ud. y TUPROMO se Óbligan a someterse a la jurisdicción
 exclusiva de los tribunales de los Estados Unidos Mexicanos para la resolución de cualquier conflicto
 derivado de los Términos y Condiciones. Sin perjuicio de lo anterior, Ud. acepta que TUPROMO podrá
 solicitar medidas cautelares (u otras medidas legales equivalentes de carácter urgente) en cualquier
 jurisdicción.
 
</ion-content>
