<ion-header>
  <ion-navbar color=red text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="/assets/img/logo_blanco.png"/>
  </ion-navbar>
</ion-header>

<ion-content class='promos-container'>
  <ion-list>
    <ion-item color=red>
      <ion-input item-start #search placeholder='Buscar'></ion-input>
      <button item-end ion-button icon-only clear color=light (click)="searchPromos(search.value)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-card>
    <a (click)="getBusiness(customer.value)">
      <img src="{{url}}{{elite.picture2}}"/>
      <ion-card-content>
        <ion-card-title>
          {{elite.title_1}}
          </ion-card-title>
        <p>
          {{elite.paragraph_1}}
        </p>
      </ion-card-content>
    </a>
  </ion-card>

  <div padding>
      <h2 class='title'>Aprovecha nuestras promociones</h2>
  </div>

  <div class="golden" *ngFor="let golden of goldens" padding>
    <a>
      <img src="{{url}}{{golden.picture}}"/>
      <h3 class="title">{{golden.title_1}}</h3>
      <p>{{golden.paragraph_1}}</p>
      <p text-right class='promo'>{{golden.promo}}</p>
    </a>
  </div>

  <div class="promos" padding>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <a>
            <img src="assets/img/bannerespecial.jpg" alt="">
            <h3>Titulo 1</h3>
            <p>Parráfo 1</p>
            <p class="promo">10% descuento</p>
          </a>
        </ion-col>
        <ion-col col-6>
          <a>
            <img src="assets/img/membresia.jpg" alt="">
            <h3>Titulo 1</h3>
            <p>Parráfo 1</p>
            <p class="promo">$25.00</p>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <a>
            <img src="assets/img/bannerespecial.jpg" alt="">
            <h3>Titulo 1</h3>
            <p>Parráfo 1</p>
            <p class="promo">10% descuento</p>
          </a>
        </ion-col>
        <ion-col col-6>
          <a>
            <img src="assets/img/membresia.jpg" alt="">
            <h3>Titulo 1</h3>
            <p>Parráfo 1</p>
            <p class="promo">$25.00</p>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
