page-home {
  .promos-container a {
    color: #333;

  }
  .item-select-start{
    margin-left: 0;
    margin-right: 10%;
    width:40%
  }
  .item-select-end{
    width:40%;
    margin-right: 0;
  }
  .search-input::placeholder-shown{
    color: #fff;
  }
  .promo{
    text-transform: uppercase;
    font-size: 20px;
    color: #b01722;
    font-weight: 800;
  }

  .title{
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: #b01722;
    font-weight: 800;
  }

  .golden{
    border-top: #b01722 solid 0.5px;
    border-bottom: #b01722 solid 0.5px;
  }


}
