<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color=red>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>Menú Principal</ion-list-header>
      <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <p>{{p.title}}<p>
      </ion-item>
      <ion-list-header>Categorías</ion-list-header>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos1.jpg" alt="">
        <p>Entretenimiento</p>
      </ion-item>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos2.jpg" alt="">
        <p>Comidas</p>
      </ion-item>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos3.jpg" alt="">
        <p>Moda y Calzado</p>
      </ion-item>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos4.jpg" alt="">
        <p>Hogar/p>
      </ion-item>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos5.jpg" alt="">
        <p>Salud y Bienestar</p>
      </ion-item>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos6.jpg" alt="">
        <p>Servicios Profesionales</p>
      </ion-item>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos7.jpg" alt="">
        <p>Viajes</p>
      </ion-item>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos8.jpg" alt="">
        <p>Autos y Accesorios</p>
      </ion-item>
      <ion-item menuClose>
        <img item-left src="/assets/icon/iconos9.jpg" alt="">
        <p>Tecnología</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>
<!--
<ion-footer>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (clik)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons text-center>
      <button ion-button icon-only (click)="goCategories()">
        <ion-icon name="pricetags"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="goAccount">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
-->
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
